# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# custom
gradle*
README.txt
.gitattributes
changelog.txt
CREDITS.txt
LICENSE.txt
MinecraftForge-*.txt
*-fml.txt
LICENSE-*.txt
Paulscode*.txt